.chart-wrapper, canvas {
  margin: 10px;
  max-width: 1250px;
  border-radius: 8px;
  background-image: linear-gradient(rgba(83, 120, 149, 0.8), rgba(9, 32, 63, 0.2)), url(./gallery/20_bitcoin_990x570.jpg);
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.app {
  background-color: rgba(59, 73, 88, 0.6);
}
.navbar {
  position: relative;
  border-radius: 17px;
  display: box-flex;
  flex-wrap: wrap;
  height: fit-content;
  width: 75%;
  -ms-flex-align: center;
  margin-right: auto;
  background: linear-gradient(to bottom, #537895 0%, #09203f 100%);
}
.chart-wrapper {
  background-color: rgba(35, 55, 75, 0.6);
  border-radius: 4px;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  width:70%;
  height: 60%;
  border-radius: 12px;
}
.mini-navbar-I {
  width:100%;
  height: 80%;
  border-radius: 5px;
  display: box-flex; 
  background: linear-gradient(to bottom, #09203f 0%, #537895 100%);
}
.mini-navbar-II {
  display: box-flex;
  flex-wrap: wrap-reverse;
  flex-direction: column;
}
.container {
  background: linear-gradient(to bottom, #09203f 0%, #537895 100%);
  border-radius: 5px;
  display: box-flex;                  /* establish flex container */
  flex-direction: inherit; 
  position: absolute;
  width:90%;
  height: 110%;
  margin-top : 75px;
  margin-left : 75px;
  overflow: scroll;        /* default value; can be omitted */
  flex-wrap: wrap;   
  -ms-flex-item-align: auto;           /* default value; can be omitted */
   /* switched from default (flex-start, see below) */
   background-color: rgba(35, 55, 75, 0.6);
}
.info {
  margin-top: 4%;
  margin-bottom: 100px;
  justify-content: center;
  margin-left: 10%;
}
.interval-button {
  color: #ecf0f1;
  text-shadow: 1px 1px 5px #3c3c3d;
  margin-top: 2%;
  
  margin-right: 10%;
  margin-bottom : 2%;
  text-align: center;
  border-radius: 5px;
  width:90%;
  height: 90%;
  background: linear-gradient(to bottom, #537895 0%, #09203f 100%);
}

.chart-wrapperB {
  border-radius: 4px;
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  justify-content: center;
  position: relative;
  background-color: rgb(148, 137, 137);
}
.chart-wrapperC {
  border-radius: 6px;
  justify-content: center;
  margin-top: 40px;
   margin-bottom: 40px;
  position: relative;
  background-color: rgb(148, 137, 137);
  
}

.btns-wrapperA {
  border-radius: 10px;
  display: box-flex;
  flex-wrap: wrap;
  flex-direction: row;
  width:33%;
  height: 30px;
  margin-left: 5px;
  margin-bottom: 40px;
  justify-content: center;

}
.btns-wrapperB {
  border-radius: 10px;
  display: box-flex;
  flex-wrap: wrap;
  flex-direction: row;
  width:33%;
  height: 30px;
  margin-top: 12px;
  margin-left: 5px;
  margin-bottom: 40px;
  justify-content: center;
  position: relative;
}
.snap-shot {
  margin-left: 140px;
  margin-bottom: 200px;
  justify-content: center;
}
.tinker-minter {
  border-radius: 10px;
  margin-top: 100px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: rgba(77, 77, 77, 0.777);
}
.tinker-title {
  
  color: #F7931A;
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(255, 255, 255), 0 0 5px darkblue;
}
.init-amount-backg {
  border-radius: 10px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: rgb(32, 168, 5);
}
.initial-Amount {
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(224, 161, 79);
  margin-inline-start: 2%;
  display: inline-flex;
}
.moch-tokens {
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 10px;
  background-color: rgb(206, 199, 199);
}
.maxSupA {
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(190, 19, 19, 0.452);
  margin-inline-start: 2%;
  display: inline-flex;
}
.maxSupB {
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: rgba(19, 99, 190, 0.452);
  margin-inline-start:2%;
  display: inline-flex;
}
.maxSupC {
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: rgba(187, 190, 19, 0.452);
  margin-inline-start: 2%;
  display: inline-flex;
}
.maxSupD {
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: rgba(39, 190, 19, 0.452);
  margin-inline-start: 2%;
  display: inline-flex;
}
.dai-amount-backg {
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: rgb(168, 97, 5);
}
.dai-Amount {
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(224, 161, 79);
  margin-inline-start: 2%;
  display: inline-flex;
}


.toppageNav{
  color: #F7931A;
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(255, 255, 255), 0 0 5px darkblue;
  border-radius: 10px;
  background: linear-gradient(to bottom, #537895 0%, #09203f 100%);
  width:100%;
  height: 60%;
  margin-top: 5px;
  margin-bottom: 15px;
}
.chartSnapshot{
  display: box-flex;
  flex-wrap: wrap-reverse;
  flex-direction: row-reverse;
  margin-left: 50px;
  margin-bottom: 50px;
}

.input {
  margin-left: 20px;
  width: 250px;
}

.title {
  display: flex;
  margin-left: auto;
  margin-top: auto;
  justify-content: center;
}
.navbar {
  margin-left: 300px;
  margin-top: 30px;
  justify-content: center;
}

.start {
  display: flex;
  margin-left: 300px;
  margin-top: 30px;
  justify-content: center;
}

.chartA-I-result {
  margin-left : 75px;
  margin-top: 6%;
  margin-bottom:40%;

}
.chartB-II-result {
  margin-left : 75px;
  margin-top: 6%;
  margin-bottom:40%;

}
.chartC-III-result {
  margin-left : 75px;
  margin-top: 6%;
  margin-bottom: 40%;
}
.chartD-IV-result {
  margin-left : 75px;
  margin-top: 6%;
  margin-bottom: 40%;
}
.chartE-V-result {
  margin-left : 75px;
  margin-top: 6%;
  margin-bottom: 40%;
}
.chartF-VI-result {
  margin-left : 75px;
  margin-top: 6%;
  margin-bottom: 40%;
}
.projects-link {
  display: inline-flex;
  margin-right: 50px;
  margin-top: 10px;
}
.the-image-projects {
  margin-right: 50px;
  margin-top: 10px;
}
.the-link-projects {
  color: orange;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 2%;
  margin-right: 2%;
}

.ticker-sym {
  display: flex;
  margin-left: 33%;
  margin-top: 1%;
  justify-content: left;
  color: red;
}
.bottom-nav{
  display: inline-flex;
  width: 100%;
  align-content: left;
  margin-top: 75%;
  margin-bottom: 3%;
  background: linear-gradient(to bottom, #537895 0%, #09203f 100%);
}
